<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Data</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="data" ng-model="data.content">
        </label>
        <label class="item">
          <button ng-click="saveData()" class="button button-block button-positive activated">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
