<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- pouchdb -->
    <script src="js/pouchdb-5.2.1.min.js"></script>
    <script src="lib/crypto-pouch/bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/database.service.js"></script>
    <script src="js/main.controller.js"></script>

  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="MainController as mc">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Example</h1>
        <ion-buttons side="right">
          <div class="buttons">
            <button ng-click="mc.showAddDataModal()" class="button button-icon icon ion-android-add"></button>
          </div>
        </ion-buttons>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="d in mc.allData track by $index" >
            <div style="float: left">{{ d.content }}</div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>

  </body>
</html>
